<div class="container" style="padding-top: 5%;">
	<h1>Practica Agregadores</h1>
	<ul>
		<ol>
			<p>Revisa la documentación de cualquiera de los siguientes agregadores:</p>
			<ul>
				<li><a href="https://www.openpay.mx/docs/" target="_blank">OpenPay</a></li>
				<li><a href="https://developers.conekta.com/" target="_blank">Conekta</a></li>
				<li><a href="https://developers.mercadopago.com.mx" target="_blank">MercadoPago</a></li>
			</ul>
		</ol>
		<ol>
			<p>Revisa la sección de métodos en efectivo.</p>
		</ol>
		<ol>
			<p>Crea un JSON con todos los datos necesarios para crear el pago. Apóyate usando esta herramienta:
			<a href="http://jsoneditoronline.org/">JSON Editor</a></p>
		</ol>
	</ul>

	<p>
		<strong>NOTA:</strong>
		Puedes realizar la actividad en equipo, se vale pedir ayuda.
	</p>
</div>